<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.web.gallery.mapper.AccountMapper">
	<resultMap id="AccountMap" type="com.web.gallery.entity.Account">
		<result property="accountNo" column="account_no" typeHandler="com.web.gallery.type_handler.AccountNoTypeHandler"/>
		<result property="createdBy" column="created_by" typeHandler="com.web.gallery.type_handler.CreatedByTypeHandler"/>
		<result property="createdAt" column="created_at" typeHandler="com.web.gallery.type_handler.CreatedAtTypeHandler"/>
		<result property="updatedBy" column="updated_by" typeHandler="com.web.gallery.type_handler.UpdatedByTypeHandler"/>
		<result property="updatedAt" column="updated_at" typeHandler="com.web.gallery.type_handler.UpdatedAtTypeHandler"/>
		<result property="isDeleted" column="is_deleted" typeHandler="com.web.gallery.type_handler.IsDeletedTypeHandler"/>
		<result property="accountId" column="account_id" typeHandler="com.web.gallery.type_handler.AccountIdTypeHandler"/>
		<result property="accountName" column="account_name" typeHandler="com.web.gallery.type_handler.AccountNameTypeHandler"/>
		<result property="password" column="password" typeHandler="com.web.gallery.type_handler.PasswordTypeHandler"/>
		<result property="birthdate" column="birthdate" typeHandler="com.web.gallery.type_handler.BirthDateTypeHandler"/>
		<result property="sexKbn" column="sex_kbn" typeHandler="com.web.gallery.type_handler.SexEnumTypeHandler"/>
		<result property="birthplacePrefectureKbnCode" column="birthplace_prefecture_kbn_code" typeHandler="com.web.gallery.type_handler.BirthplacePrefectureKbnCodeTypeHandler"/>
		<result property="residentPrefectureKbnCode" column="resident_prefecture_kbn_code" typeHandler="com.web.gallery.type_handler.ResidentPrefectureKbnCodeTypeHandler"/>
		<result property="freeMemo" column="free_memo" typeHandler="com.web.gallery.type_handler.FreeMemoTypeHandler"/>
		<result property="authorityKbn" column="authority_kbn" typeHandler="com.web.gallery.type_handler.AuthorityEnumTypeHandler"/>
	</resultMap>

	<select id="select" parameterType="com.web.gallery.entity.Account" resultMap="AccountMap">
		SELECT
			account_no AS accountNo,
			created_by AS createdBy,
			created_at AS createdAt,
			updated_by AS updatedBy,
			updated_at AS updatedAt,
			is_deleted AS isDeleted,
			account_id AS accountId,
			account_name AS accountName,
			password,
			birthdate,
			sex_kbn AS sexKbn,
			birthplace_prefecture_kbn_code AS birthplacePrefectureKbnCode,
			resident_prefecture_kbn_code AS residentPrefectureKbnCode,
			free_memo AS freeMemo,
			authority_kbn AS authorityKbn,
			last_login_datetime AS lastLoginDatetime,
			login_failure_count AS loginFailureCount
		FROM
			common.account
		<where>
			<if test="accountNo != null"> AND account_no = #{accountNo, typeHandler=com.web.gallery.type_handler.AccountNoTypeHandler}</if>
			<if test="isDeleted != null"> AND is_deleted = #{isDeleted, typeHandler=com.web.gallery.type_handler.IsDeletedTypeHandler}</if>
			<if test="accountId != null"> AND account_id = #{accountId, typeHandler=com.web.gallery.type_handler.AccountIdTypeHandler}</if>
			<if test="accountName != null"> AND account_name = #{accountName, typeHandler=com.web.gallery.type_handler.AccountNameTypeHandler}</if>
			<if test="password != null"> AND password = #{password, typeHandler=com.web.gallery.type_handler.PasswordTypeHandler}</if>
			<if test="birthdate != null"> AND birthdate = #{birthdate, typeHandler=com.web.gallery.type_handler.BirthDateTypeHandler}</if>
			<if test="sexKbn != null"> AND sex_kbn = #{sexKbn}::common.sex_enum</if>
			<if test="birthplacePrefectureKbnCode != null"> AND birthplace_prefecture_kbn_code = #{birthplacePrefectureKbnCode, typeHandler=com.web.gallery.type_handler.BirthplacePrefectureKbnCodeTypeHandler}</if>
			<if test="residentPrefectureKbnCode != null"> AND resident_prefecture_kbn_code = #{residentPrefectureKbnCode, typeHandler=com.web.gallery.type_handler.ResidentPrefectureKbnCodeTypeHandler}</if>
			<if test="freeMemo != null"> AND free_memo = #{freeMemo, typeHandler=com.web.gallery.type_handler.FreeMemoTypeHandler}</if>
			<if test="authorityKbn != null"> AND authority_kbn = #{authorityKbn}::common.authority_enum</if>
			<if test="lastLoginDatetime != null"> AND last_login_datetime = #{lastLoginDatetime}</if>
			<if test="loginFailureCount != null"> AND login_failure_count = #{loginFailureCount}</if>
		</where>
	</select>

	<select id="count" parameterType="com.web.gallery.entity.Account" resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			common.account
		<where>
			<if test="accountNo != null"> AND account_no = #{accountNo, typeHandler=com.web.gallery.type_handler.AccountNoTypeHandler}</if>
			<if test="isDeleted != null"> AND is_deleted = #{isDeleted, typeHandler=com.web.gallery.type_handler.IsDeletedTypeHandler}</if>
			<if test="accountId != null"> AND account_id = #{accountId, typeHandler=com.web.gallery.type_handler.AccountIdTypeHandler}</if>
			<if test="accountName != null"> AND account_name = #{accountName, typeHandler=com.web.gallery.type_handler.AccountNameTypeHandler}</if>
			<if test="password != null"> AND password = #{password, typeHandler=com.web.gallery.type_handler.PasswordTypeHandler}</if>
			<if test="birthdate != null"> AND birthdate = #{birthdate, typeHandler=com.web.gallery.type_handler.BirthDateTypeHandler}</if>
			<if test="sexKbn != null"> AND sex_kbn = #{sexKbn}::common.sex_enum</if>
			<if test="birthplacePrefectureKbnCode != null"> AND birthplace_prefecture_kbn_code = #{birthplacePrefectureKbnCode, typeHandler=com.web.gallery.type_handler.BirthplacePrefectureKbnCodeTypeHandler}</if>
			<if test="residentPrefectureKbnCode != null"> AND resident_prefecture_kbn_code = #{residentPrefectureKbnCode, typeHandler=com.web.gallery.type_handler.ResidentPrefectureKbnCodeTypeHandler}</if>
			<if test="freeMemo != null"> AND free_memo = #{freeMemo, typeHandler=com.web.gallery.type_handler.FreeMemoTypeHandler}</if>
			<if test="authorityKbn != null"> AND authority_kbn = #{authorityKbn}::common.authority_enum</if>
			<if test="lastLoginDatetime != null"> AND last_login_datetime = #{lastLoginDatetime}</if>
			<if test="loginFailureCount != null"> AND login_failure_count = #{loginFailureCount}</if>
		</where>
	</select>

	<insert id="insert" parameterType="com.web.gallery.entity.Account">
		INSERT INTO
			common.account (
				account_no,
				created_by,
				created_at,
				updated_by,
				updated_at,
				is_deleted,
				account_id,
				account_name,
				password,
				birthdate,
				sex_kbn,
				birthplace_prefecture_kbn_code,
				resident_prefecture_kbn_code,
				free_memo,
				authority_kbn,
				last_login_datetime,
				login_failure_count
			)
		VALUES
			(
				nextval('common.account_account_no_seq'),
				#{createdBy, typeHandler=com.web.gallery.type_handler.CreatedByTypeHandler},
				NOW(),
				#{updatedBy, typeHandler=com.web.gallery.type_handler.UpdatedByTypeHandler},
				NOW(),
				false,
				#{accountId, typeHandler=com.web.gallery.type_handler.AccountIdTypeHandler},
				#{accountName, typeHandler=com.web.gallery.type_handler.AccountNameTypeHandler},
				#{password, typeHandler=com.web.gallery.type_handler.PasswordTypeHandler},
				#{birthdate, typeHandler=com.web.gallery.type_handler.BirthDateTypeHandler},
				#{sexKbn}::common.sex_enum,
				#{birthplacePrefectureKbnCode, typeHandler=com.web.gallery.type_handler.BirthplacePrefectureKbnCodeTypeHandler},
				#{residentPrefectureKbnCode, typeHandler=com.web.gallery.type_handler.ResidentPrefectureKbnCodeTypeHandler},
				#{freeMemo, typeHandler=com.web.gallery.type_handler.FreeMemoTypeHandler},
				#{authorityKbn}::common.authority_enum,
				#{lastLoginDatetime},
				#{loginFailureCount}
			)
	</insert>

	<update id="update" parameterType="com.web.gallery.entity.Account">
		UPDATE
			common.account
		<set>
			updated_at = NOW()
			<if test="target.updatedBy != null"> , updated_by = #{target.updatedBy, typeHandler=com.web.gallery.type_handler.UpdatedByTypeHandler}</if>
			<if test="target.isDeleted != null"> , is_deleted = #{target.isDeleted, typeHandler=com.web.gallery.type_handler.IsDeletedTypeHandler}</if>
			<if test="target.accountId != null"> , account_id = #{target.accountId, typeHandler=com.web.gallery.type_handler.AccountIdTypeHandler}</if>
			<if test="target.accountName != null"> , account_name = #{target.accountName, typeHandler=com.web.gallery.type_handler.AccountNameTypeHandler}</if>
			<if test="target.password != null"> , password = #{target.password, typeHandler=com.web.gallery.type_handler.PasswordTypeHandler}</if>
			<if test="target.birthdate != null"> , birthdate = #{target.birthdate, typeHandler=com.web.gallery.type_handler.BirthDateTypeHandler}</if>
			<if test="target.sexKbn != null"> , sex_kbn = #{target.sexKbn}::common.sex_enum</if>
			<if test="target.birthplacePrefectureKbnCode != null"> , birthplace_prefecture_kbn_code = #{target.birthplacePrefectureKbnCode, typeHandler=com.web.gallery.type_handler.BirthplacePrefectureKbnCodeTypeHandler}</if>
			<if test="target.residentPrefectureKbnCode != null"> , resident_prefecture_kbn_code = #{target.residentPrefectureKbnCode, typeHandler=com.web.gallery.type_handler.ResidentPrefectureKbnCodeTypeHandler}</if>
			<if test="target.freeMemo != null"> , free_memo = #{target.freeMemo, typeHandler=com.web.gallery.type_handler.FreeMemoTypeHandler}</if>
			<if test="target.authorityKbn != null"> , authority_kbn = #{target.authorityKbn}::common.authority_enum</if>
			<if test="target.lastLoginDatetime != null"> , last_login_datetime = #{target.lastLoginDatetime}</if>
			<if test="target.loginFailureCount != null"> , login_failure_count = #{target.loginFailureCount}</if>
		</set>
		<where>
			<if test="condition.accountNo != null"> AND account_no = #{condition.accountNo, typeHandler=com.web.gallery.type_handler.AccountNoTypeHandler}</if>
			<if test="condition.isDeleted != null"> AND is_deleted = #{condition.isDeleted, typeHandler=com.web.gallery.type_handler.IsDeletedTypeHandler}</if>
			<if test="condition.accountId != null"> AND account_id = #{condition.accountId, typeHandler=com.web.gallery.type_handler.AccountIdTypeHandler}</if>
			<if test="condition.accountName != null"> AND account_name = #{condition.accountName, typeHandler=com.web.gallery.type_handler.AccountNameTypeHandler}</if>
			<if test="condition.password != null"> AND password = #{condition.password, typeHandler=com.web.gallery.type_handler.PasswordTypeHandler}</if>
			<if test="condition.birthdate != null"> AND birthdate = #{condition.birthdate, typeHandler=com.web.gallery.type_handler.BirthDateTypeHandler}</if>
			<if test="condition.sexKbn != null"> AND sex_kbn = #{condition.sexKbn}::common.sex_enum</if>
			<if test="condition.birthplacePrefectureKbnCode != null"> AND birthplace_prefecture_kbn_code = #{condition.birthplacePrefectureKbnCode, typeHandler=com.web.gallery.type_handler.BirthplacePrefectureKbnCodeTypeHandler}</if>
			<if test="condition.residentPrefectureKbnCode != null"> AND resident_prefecture_kbn_code = #{condition.residentPrefectureKbnCode, typeHandler=com.web.gallery.type_handler.ResidentPrefectureKbnCodeTypeHandler}</if>
			<if test="condition.freeMemo != null"> AND free_memo = #{condition.freeMemo, typeHandler=com.web.gallery.type_handler.FreeMemoTypeHandler}</if>
			<if test="condition.authorityKbn != null"> AND authority_kbn = #{condition.authorityKbn}::common.authority_enum</if>
			<if test="condition.lastLoginDatetime != null"> AND last_login_datetime = #{condition.lastLoginDatetime}</if>
			<if test="condition.loginFailureCount != null"> AND login_failure_count = #{condition.loginFailureCount}</if>
		</where>
	</update>

	<delete id="delete" parameterType="com.web.gallery.entity.Account">
		DELETE FROM
			common.account
		<where>
			<if test="accountNo != null"> AND account_no = #{accountNo, typeHandler=com.web.gallery.type_handler.AccountNoTypeHandler}</if>
			<if test="isDeleted != null"> AND is_deleted = #{isDeleted, typeHandler=com.web.gallery.type_handler.IsDeletedTypeHandler}</if>
			<if test="accountId != null"> AND account_id = #{accountId, typeHandler=com.web.gallery.type_handler.AccountIdTypeHandler}</if>
			<if test="accountName != null"> AND account_name = #{accountName, typeHandler=com.web.gallery.type_handler.AccountNameTypeHandler}</if>
			<if test="password != null"> AND password = #{password, typeHandler=com.web.gallery.type_handler.PasswordTypeHandler}</if>
			<if test="birthdate != null"> AND birthdate = #{birthdate, typeHandler=com.web.gallery.type_handler.BirthDateTypeHandler}</if>
			<if test="sexKbn != null"> AND sex_kbn = #{sexKbn}::common.sex_enum</if>
			<if test="birthplacePrefectureKbnCode != null"> AND birthplace_prefecture_kbn_code = #{birthplacePrefectureKbnCode, typeHandler=com.web.gallery.type_handler.BirthplacePrefectureKbnCodeTypeHandler}</if>
			<if test="residentPrefectureKbnCode != null"> AND resident_prefecture_kbn_code = #{residentPrefectureKbnCode, typeHandler=com.web.gallery.type_handler.ResidentPrefectureKbnCodeTypeHandler}</if>
			<if test="freeMemo != null"> AND free_memo = #{freeMemo, typeHandler=com.web.gallery.type_handler.FreeMemoTypeHandler}</if>
			<if test="authorityKbn != null"> AND authority_kbn = #{authorityKbn}::common.authority_enum</if>
			<if test="lastLoginDatetime != null"> AND last_login_datetime = #{lastLoginDatetime}</if>
			<if test="loginFailureCount != null"> AND login_failure_count = #{loginFailureCount}</if>
		</where>
	</delete>

	<select id="isExistAccount" parameterType="com.web.gallery.entity.Account" resultType="Boolean">
		SELECT
			CASE WHEN COUNT(*)>0 THEN true ELSE false END
		FROM
			common.account
		<where>
			<if test="accountNo != null"> AND account_no &lt;&gt; #{accountNo, typeHandler=com.web.gallery.type_handler.AccountNoTypeHandler}</if>
			<if test="accountId != null"> AND account_id = #{accountId, typeHandler=com.web.gallery.type_handler.AccountIdTypeHandler}</if>
		</where>
	</select>
</mapper>
