<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.web.gallery.mapper.AccountAuthorityMapper">
	<insert id="insert" parameterType="com.web.gallery.entity.account.AccountAuthority">
		INSERT INTO
			common.account_authority (
				account_no,
				created_by,
				created_at,
				updated_by,
				updated_at,
				authority_kbn
			)
		VALUES
			(
				#{accountNo},
				#{createdBy},
				NOW(),
				#{updatedBy},
				NOW(),
				#{authorityKbn}::common.authority_enum
			)
	</insert>

	<update id="update">
		UPDATE
			common.account_authority
		<set>
			updated_at = NOW()
			<if test="target.updatedBy != null"> , updated_by = #{target.updatedBy}</if>
			<if test="target.authorityKbn != null"> , authority_kbn = #{target.authorityKbn}::common.authority_enum</if>
		</set>
		<where>
			<if test="condition.accountNo != null"> AND account_no = #{condition.accountNo}</if>
		</where>
	</update>

	<delete id="delete" parameterType="com.web.gallery.entity.account.AccountAuthorityCondition">
		DELETE FROM
			common.account_authority
		<where>
			<if test="accountNo != null"> AND account_no = #{accountNo}</if>
		</where>
	</delete>
</mapper>
