<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.gallery.mapper.PhotoFavoriteMapper">
	<insert id="insert" parameterType="com.web.gallery.entity.PhotoFavorite">
		INSERT INTO
			photo.photo_favorite (
				account_no,
				favorite_photo_account_no,
				favorite_photo_no,
				created_by,
				created_at
			)
		VALUES
			(
				#{accountNo, typeHandler=com.web.gallery.type_handler.AccountNoTypeHandler},
				#{favoritePhotoAccountNo, typeHandler=com.web.gallery.type_handler.AccountNoTypeHandler},
				#{favoritePhotoNo, typeHandler=com.web.gallery.type_handler.PhotoNoTypeHandler},
				#{createdBy, typeHandler=com.web.gallery.type_handler.CreatedByTypeHandler},
				NOW()
			)
	</insert>

	<delete id="delete" parameterType="com.web.gallery.entity.PhotoFavorite">
		DELETE FROM
			photo.photo_favorite
		<where>
			<if test="accountNo != null"> AND account_no = #{accountNo, typeHandler=com.web.gallery.type_handler.AccountNoTypeHandler}</if>
			<if test="favoritePhotoAccountNo != null"> AND favorite_photo_account_no = #{favoritePhotoAccountNo, typeHandler=com.web.gallery.type_handler.AccountNoTypeHandler}</if>
			<if test="favoritePhotoNo != null"> AND favorite_photo_no = #{favoritePhotoNo, typeHandler=com.web.gallery.type_handler.PhotoNoTypeHandler}</if>
		</where>
	</delete>
</mapper>
