<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.gallery.mapper.PhotoTagMstMapper">
	<resultMap id="PhotoTagMstMap" type="com.web.gallery.entity.PhotoTagMst">
		<result property="accountNo" column="account_no" typeHandler="com.web.gallery.type_handler.AccountNoTypeHandler"/>
		<result property="photoNo" column="photo_no" typeHandler="com.web.gallery.type_handler.PhotoNoTypeHandler"/>
		<result property="tagNo" column="tag_no" typeHandler="com.web.gallery.type_handler.TagNoTypeHandler"/>
		<result property="createdBy" column="created_by" typeHandler="com.web.gallery.type_handler.CreatedByTypeHandler"/>
		<result property="createdAt" column="created_at" typeHandler="com.web.gallery.type_handler.CreatedAtTypeHandler"/>
		<result property="tagJapaneseName" column="tag_japanese_name" typeHandler="com.web.gallery.type_handler.TagJapaneseNameTypeHandler"/>
		<result property="tagEnglishName" column="tag_english_name" typeHandler="com.web.gallery.type_handler.TagEnglishNameTypeHandler"/>
	</resultMap>

	<select id="select" parameterType="com.web.gallery.entity.PhotoTagMstCondition" resultMap="PhotoTagMstMap">
		SELECT
			id,
			account_no AS accountNo,
			photo_no AS photoNo,
			tag_no AS tagNo,
			created_by AS createdBy,
			created_at AS createdAt,
			tag_japanese_name AS tagJapaneseName,
			tag_english_name AS tagEnglishName
		FROM
			photo.photo_tag_mst
		<where>
			<if test="accountNo != null"> AND account_no = #{accountNo, typeHandler=com.web.gallery.type_handler.AccountNoTypeHandler}</if>
			<if test="photoNo != null"> AND photo_no = #{photoNo, typeHandler=com.web.gallery.type_handler.PhotoNoTypeHandler}</if>
			<if test="tagNo != null"> AND tag_no = #{tagNo, typeHandler=com.web.gallery.type_handler.TagNoTypeHandler}</if>
			<if test="tagJapaneseName != null"> AND tag_japanese_name = #{tagJapaneseName, typeHandler=com.web.gallery.type_handler.TagJapaneseNameTypeHandler}</if>
			<if test="tagEnglishName != null"> AND tag_english_name = #{tagEnglishName, typeHandler=com.web.gallery.type_handler.TagEnglishNameTypeHandler}</if>
		</where>
	</select>

	<insert id="insert" parameterType="com.web.gallery.entity.PhotoTagMst">
		INSERT INTO
			photo.photo_tag_mst (
				account_no,
				photo_no,
				tag_no,
				created_by,
				created_at,
				tag_japanese_name,
				tag_english_name
			)
		VALUES
			(
				#{accountNo, typeHandler=com.web.gallery.type_handler.AccountNoTypeHandler},
				#{photoNo, typeHandler=com.web.gallery.type_handler.PhotoNoTypeHandler},
				#{tagNo, typeHandler=com.web.gallery.type_handler.TagNoTypeHandler},
				#{createdBy, typeHandler=com.web.gallery.type_handler.CreatedByTypeHandler},
				NOW(),
				#{tagJapaneseName, typeHandler=com.web.gallery.type_handler.TagJapaneseNameTypeHandler},
				#{tagEnglishName, typeHandler=com.web.gallery.type_handler.TagEnglishNameTypeHandler}
			)
	</insert>

	<delete id="delete" parameterType="com.web.gallery.entity.PhotoTagMstCondition">
		DELETE FROM
			photo.photo_tag_mst
		<where>
			<if test="accountNo != null"> AND account_no = #{accountNo, typeHandler=com.web.gallery.type_handler.AccountNoTypeHandler}</if>
			<if test="photoNo != null"> AND photo_no = #{photoNo, typeHandler=com.web.gallery.type_handler.PhotoNoTypeHandler}</if>
			<if test="tagNo != null"> AND tag_no = #{tagNo, typeHandler=com.web.gallery.type_handler.TagNoTypeHandler}</if>
			<if test="tagJapaneseName != null"> AND tag_japanese_name = #{tagJapaneseName, typeHandler=com.web.gallery.type_handler.TagJapaneseNameTypeHandler}</if>
			<if test="tagEnglishName != null"> AND tag_english_name = #{tagEnglishName, typeHandler=com.web.gallery.type_handler.TagEnglishNameTypeHandler}</if>
		</where>
	</delete>
</mapper>
