<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.gallery.mapper.PhotoTagMstMapper">
	<resultMap id="PhotoTagMstMap" type="com.web.gallery.entity.PhotoTagMst">
		<result property="accountNo" column="account_no"/>
		<result property="photoNo" column="photo_no"/>
		<result property="tagNo" column="tag_no"/>
		<result property="createdBy" column="created_by"/>
		<result property="createdAt" column="created_at"/>
		<result property="tagJapaneseName" column="tag_japanese_name"/>
		<result property="tagEnglishName" column="tag_english_name"/>
	</resultMap>

	<select id="select" parameterType="com.web.gallery.entity.PhotoTagMstCondition" resultMap="PhotoTagMstMap">
		SELECT
			id,
			account_no AS accountNo,
			photo_no AS photoNo,
			tag_no AS tagNo,
			created_by AS createdBy,
			created_at AS createdAt,
			tag_japanese_name AS tagJapaneseName,
			tag_english_name AS tagEnglishName
		FROM
			photo.photo_tag_mst
		<where>
			<if test="accountNo != null"> AND account_no = #{accountNo}</if>
			<if test="photoNo != null"> AND photo_no = #{photoNo}</if>
			<if test="photoNoList != null and !photoNoList.isEmpty()">
				AND photo_no IN
				<foreach item="photoNo" collection="photoNoList" open="(" separator="," close=")">
					#{photoNo}
				</foreach>
			</if>
			<if test="tagNo != null"> AND tag_no = #{tagNo}</if>
			<if test="tagJapaneseName != null"> AND tag_japanese_name = #{tagJapaneseName}</if>
			<if test="tagEnglishName != null"> AND tag_english_name = #{tagEnglishName}</if>
		</where>
	</select>

	<insert id="insert" parameterType="com.web.gallery.entity.PhotoTagMst">
		INSERT INTO
			photo.photo_tag_mst (
				account_no,
				photo_no,
				tag_no,
				created_by,
				created_at,
				tag_japanese_name,
				tag_english_name
			)
		VALUES
			(
				#{accountNo},
				#{photoNo},
				#{tagNo},
				#{createdBy},
				NOW(),
				#{tagJapaneseName},
				#{tagEnglishName}
			)
	</insert>

	<insert id="insertBulk" parameterType="java.util.List">
		INSERT INTO
			photo.photo_tag_mst (
				account_no,
				photo_no,
				tag_no,
				created_by,
				created_at,
				tag_japanese_name,
				tag_english_name
			)
		VALUES
		<foreach collection="list" item="item" separator=",">
			(
				#{item.accountNo},
				#{item.photoNo},
				#{item.tagNo},
				#{item.createdBy},
				NOW(),
				#{item.tagJapaneseName},
				#{item.tagEnglishName}
			)
		</foreach>
	</insert>

	<delete id="delete" parameterType="com.web.gallery.entity.PhotoTagMstCondition">
		DELETE FROM
			photo.photo_tag_mst
		<where>
			<if test="accountNo != null"> AND account_no = #{accountNo}</if>
			<if test="photoNo != null"> AND photo_no = #{photoNo}</if>
			<if test="tagNo != null"> AND tag_no = #{tagNo}</if>
			<if test="tagJapaneseName != null"> AND tag_japanese_name = #{tagJapaneseName}</if>
			<if test="tagEnglishName != null"> AND tag_english_name = #{tagEnglishName}</if>
		</where>
	</delete>
</mapper>
