<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.web.gallery.mapper.SchedulerLockMapper">

	<select id="tryAdvisoryXactLock" resultType="boolean">
		SELECT pg_try_advisory_xact_lock(#{lockKey})
	</select>

</mapper>
