@charset "UTF-8";

body {
	font-family: "Open Sans", sans-serif;
	line-height: 1.25;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
	padding: 0;
	width: 650px;
	box-shadow: 0 0 15px -6px #00000073;

	tr {
		background-color: #fff;
	}
	
	th, td {
		padding: .35em 1em;
		border-bottom: 1px solid #eee;
	}
	
	tbody {
		tr:hover {
			background-color: #fffae9;
		}
		
		th {
			text-align: left;
			font-size: .8em;
		}
	}
	
	thead {
		th {
			font-size: .85em;
			padding: 1em;
		}
		
		tr {
			background-color: #2196F3;
			color: #fff;
		}
	}
}