@charset "UTF-8";

#account_name {
	font-size: 20px;
	color: darkgrey;
	z-index: 1000;
	position: fixed;
	top: 2%;
	left: 2%;
	text-decoration: none;
}

#back_page {
	font-size: 20px;
	color: darkgrey;
	z-index: 1000;
	position: fixed;
	top: 2%;
	left: 2%;
}

#signin {
	font-size: 20px;
	color: darkgrey;
	z-index: 1000;
	position: fixed;
	top: 5px;
	right: 10px;
}

#signout {
	font-size: 20px;
	color: darkgrey;
	z-index: 1000;
	position: fixed;
	top: 5px;
	right: 10px;
}