@charset "UTF-8";

body {
	background-color: #000;
	color: white;
}

#photo_detail_header {
	.edit {
		position: fixed;
		top: 2%;
		width: 25px;
		height: 25px;
		right: 170px;
	}

	.delete {
		position: fixed;
		top: 2%;
		width: 25px;
		height: 25px;
		right: 130px;
	}
	
	.favorite, .notFavorite {
		position: fixed;
		top: 2%;
		width: 25px;
		height: 25px;
		right: 90px;
	}
}

.photo {
	padding: 70px 5% 5% 5%;
	overflow: auto;
	
	.image {
		img {
			display: block;
			margin: auto;
			width: 100%;
			max-width: 1000px;
			max-height: 600px;
			object-fit: contain;
		}
	}
	
	.detail {
		max-width: 1000px;
		margin: auto;
		
		.japanese_title {
			font-size: 20px;
			text-align: center;
			margin: 5px 0px 1px 0px;
		}
		
		.english_title {
			font-size: 12px;
			text-align: center;
			margin: 3px 0px 5px 0px;
		}
		
		.caption {
			font-size: 16px;
			margin: 25px 0px 30px 0px;
			margin-inline: auto;
			max-inline-size: max-content;
			overflow-wrap: break-word;
			word-break: break-all;
		}
		
		.photo_at, .setting {
			font-size: 12px;
			text-align: center;
			margin: 1px 0px 1px 0px;
		}
	}
}


.modal-open {
	position: fixed;
	top: 50%;
	left: 50%;
	font-size: 16px;
	font-weight: bold;
	width: 300px;
	height: 60px;
	color: #fff;
	background: #000;
	border: none;
	cursor: pointer;
	translate: -50% -50%;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(0, 0, 0, 50%);
	padding: 40px 20px;
	overflow: auto;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
	box-sizing: border-box;
}

.modal:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	margin-left: -0.2em;
}

.modal.is-active {
	opacity: 1;
	visibility: visible;
}

.modal-container {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	max-width: 500px;
	width: 90%;
}

.modal-close {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	color: #fff;
	background: #000;
	border-radius: 50%;
	cursor: pointer;
}

.modal-content {
	background: #fff;
	text-align: center;
	line-height: 1.8;
	padding: 20px;
}

.modal-content p {
	color: black;
	margin: 1em 0;
}