@charset "UTF-8";


#photos .photo {
	position: relative;
	z-index: 20;
	float: left;
	width: 300px;
	height: 300px;
	border-style: solid;
	border-width: 0.5px;
	border-color: dimgray;
	background-color: black;
	margin: 10px;
	padding: 10px;
}

.photo_detail {
	position: relative;
	z-index: 25;
}

.picture {
	position: relative;
	z-index: 30;
	display: block;
	object-fit: contain;
}

.favorite, .notFavorite {
	position: absolute;
	width: 25px;
	height: 25px;
	bottom: 4%;
	right: 4%;
	opacity: 0;
}

.favorite.fade-in, .notFavorite.fade-in {
	position: absolute;
	width: 25px;
	height: 25px;
	bottom: 4%;
	right: 4%;
	opacity: 1;
}