<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.web.gallary.mapper.AccountMapper">
	<resultMap id="AccountMap" type="com.web.gallary.entity.Account">
		<result property="sexKbn" column="sex_kbn" typeHandler="com.web.gallary.type_handler.SexEnumTypeHandler"/>
		<result property="authorityKbn" column="authority_kbn" typeHandler="com.web.gallary.type_handler.AuthorityEnumTypeHandler"/>
	</resultMap>

	<select id="select" parameterType="com.web.gallary.entity.Account" resultMap="AccountMap">
		SELECT
			account_no AS accountNo,
			created_by AS createdBy,
			created_at AS createdAt,
			updated_by AS updatedBy,
			updated_at AS updatedAt,
			is_deleted AS isDeleted,
			account_id AS accountId,
			account_name AS accountName,
			password,
			birthdate,
			sex_kbn AS sexKbn,
			birthplace_prefecture_kbn_code AS birthplacePrefectureKbnCode,
			resident_prefecture_kbn_code AS residentPrefectureKbnCode,
			free_memo AS freeMemo,
			authority_kbn AS authorityKbn,
			last_login_datetime AS lastLoginDatetime,
			login_failure_count AS loginFailureCount
		FROM
			common.account
		<where>
			<if test="accountNo != null"> AND account_no = #{accountNo}</if>
			<if test="isDeleted != null"> AND is_deleted = #{isDeleted}</if>
			<if test="accountId != null"> AND account_id = #{accountId}</if>
			<if test="accountName != null"> AND account_name = #{accountName}</if>
			<if test="password != null"> AND password = #{password}</if>
			<if test="birthdate != null"> AND birthdate = #{birthdate}</if>
			<if test="sexKbn != null"> AND sex_kbn = #{sexKbn}::common.sex_enum</if>
			<if test="birthplacePrefectureKbnCode != null"> AND birthplace_prefecture_kbn_code = #{birthplacePrefectureKbnCode}</if>
			<if test="residentPrefectureKbnCode != null"> AND resident_prefecture_kbn_code = #{residentPrefectureKbnCode}</if>
			<if test="freeMemo != null"> AND free_memo = #{freeMemo}</if>
			<if test="authorityKbn != null"> AND authority_kbn = #{authorityKbn}::common.authority_enum</if>
			<if test="lastLoginDatetime != null"> AND last_login_datetime = #{lastLoginDatetime}</if>
			<if test="loginFailureCount != null"> AND login_failure_count = #{loginFailureCount}</if>
		</where>
	</select>
	
	<select id="count" parameterType="com.web.gallary.entity.Account" resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			common.account
		<where>
			<if test="accountNo != null"> AND account_no = #{accountNo}</if>
			<if test="isDeleted != null"> AND is_deleted = #{isDeleted}</if>
			<if test="accountId != null"> AND account_id = #{accountId}</if>
			<if test="accountName != null"> AND account_name = #{accountName}</if>
			<if test="password != null"> AND password = #{password}</if>
			<if test="birthdate != null"> AND birthdate = #{birthdate}</if>
			<if test="sexKbn != null"> AND sex_kbn = #{sexKbn}::common.sex_enum</if>
			<if test="birthplacePrefectureKbnCode != null"> AND birthplace_prefecture_kbn_code = #{birthplacePrefectureKbnCode}</if>
			<if test="residentPrefectureKbnCode != null"> AND resident_prefecture_kbn_code = #{residentPrefectureKbnCode}</if>
			<if test="freeMemo != null"> AND free_memo = #{freeMemo}</if>
			<if test="authorityKbn != null"> AND authority_kbn = #{authorityKbn}::common.authority_enum</if>
			<if test="lastLoginDatetime != null"> AND last_login_datetime = #{lastLoginDatetime}</if>
			<if test="loginFailureCount != null"> AND login_failure_count = #{loginFailureCount}</if>
		</where>
	</select>
	
	<insert id="insert" parameterType="com.web.gallary.entity.Account">
		INSERT INTO
			common.account (
				account_no,
				created_by,
				created_at,
				updated_by,
				updated_at,
				is_deleted,
				account_id,
				account_name,
				password,
				birthdate,
				sex_kbn,
				birthplace_prefecture_kbn_code,
				resident_prefecture_kbn_code,
				free_memo,
				authority_kbn,
				last_login_datetime,
				login_failure_count
			)
		VALUES
			(
				nextval('common.account_account_no_seq'),
				#{createdBy},
				NOW(),
				#{updatedBy},
				NOW(),
				false,
				#{accountId},
				#{accountName},
				#{password},
				#{birthdate},
				#{sexKbn}::common.sex_enum,
				#{birthplacePrefectureKbnCode},
				#{residentPrefectureKbnCode},
				#{freeMemo},
				#{authorityKbn}::common.authority_enum,
				#{lastLoginDatetime},
				#{loginFailureCount}
			)
	</insert>
	
	<update id="update" parameterType="com.web.gallary.entity.Account">
		UPDATE 
			common.account
		<set>
			updated_at = NOW()
			<if test="target.updatedBy != null"> , updated_by = #{target.updatedBy}</if>
			<if test="target.isDeleted != null"> , is_deleted = #{target.isDeleted}</if>
			<if test="target.accountId != null"> , account_id = #{target.accountId}</if>
			<if test="target.accountName != null"> , account_name = #{target.accountName}</if>
			<if test="target.password != null"> , password = #{target.password}</if>
			<if test="target.birthdate != null"> , birthdate = #{target.birthdate}</if>
			<if test="target.sexKbn != null"> , sex_kbn = #{target.sexKbn}::common.sex_enum</if>
			<if test="target.birthplacePrefectureKbnCode != null"> , birthplace_prefecture_kbn_code = #{target.birthplacePrefectureKbnCode}</if>
			<if test="target.residentPrefectureKbnCode != null"> , resident_prefecture_kbn_code = #{target.residentPrefectureKbnCode}</if>
			<if test="target.freeMemo != null"> , free_memo = #{target.freeMemo}</if>
			<if test="target.authorityKbn != null"> , authority_kbn = #{target.authorityKbn}::common.authority_enum</if>
			<if test="target.lastLoginDatetime != null"> , last_login_datetime = #{target.lastLoginDatetime}</if>
			<if test="target.loginFailureCount != null"> , login_failure_count = #{target.loginFailureCount}</if>
		</set>
		<where>
			<if test="condition.accountNo != null"> AND account_no = #{condition.accountNo}</if>
			<if test="condition.isDeleted != null"> AND is_deleted = #{condition.isDeleted}</if>
			<if test="condition.accountId != null"> AND account_id = #{condition.accountId}</if>
			<if test="condition.accountName != null"> AND account_name = #{condition.accountName}</if>
			<if test="condition.password != null"> AND password = #{condition.password}</if>
			<if test="condition.birthdate != null"> AND birthdate = #{condition.birthdate}</if>
			<if test="condition.sexKbn != null"> AND sex_kbn = #{condition.sexKbn}::common.sex_enum</if>
			<if test="condition.birthplacePrefectureKbnCode != null"> AND birthplace_prefecture_kbn_code = #{condition.birthplacePrefectureKbnCode}</if>
			<if test="condition.residentPrefectureKbnCode != null"> AND resident_prefecture_kbn_code = #{condition.residentPrefectureKbnCode}</if>
			<if test="condition.freeMemo != null"> AND free_memo = #{condition.freeMemo}</if>
			<if test="condition.authorityKbn != null"> AND authority_kbn = #{condition.authorityKbn}::common.authority_enum</if>
			<if test="condition.lastLoginDatetime != null"> AND last_login_datetime = #{condition.lastLoginDatetime}</if>
			<if test="condition.loginFailureCount != null"> AND login_failure_count = #{condition.loginFailureCount}</if>
		</where>
	</update>
	
	<delete id="delete" parameterType="com.web.gallary.entity.Account">
		DELETE FROM
			common.account
		<where>
			<if test="accountNo != null"> AND account_no = #{accountNo}</if>
			<if test="isDeleted != null"> AND is_deleted = #{isDeleted}</if>
			<if test="accountId != null"> AND account_id = #{accountId}</if>
			<if test="accountName != null"> AND account_name = #{accountName}</if>
			<if test="password != null"> AND password = #{password}</if>
			<if test="birthdate != null"> AND birthdate = #{birthdate}</if>
			<if test="sexKbn != null"> AND sex_kbn = #{sexKbn}::common.sex_enum</if>
			<if test="birthplacePrefectureKbnCode != null"> AND birthplace_prefecture_kbn_code = #{birthplacePrefectureKbnCode}</if>
			<if test="residentPrefectureKbnCode != null"> AND resident_prefecture_kbn_code = #{residentPrefectureKbnCode}</if>
			<if test="freeMemo != null"> AND free_memo = #{freeMemo}</if>
			<if test="authorityKbn != null"> AND authority_kbn = #{authorityKbn}::common.authority_enum</if>
			<if test="lastLoginDatetime != null"> AND last_login_datetime = #{lastLoginDatetime}</if>
			<if test="loginFailureCount != null"> AND login_failure_count = #{loginFailureCount}</if>
		</where>
	</delete>
	
	<select id="isExistAccount" parameterType="com.web.gallary.entity.Account" resultType="Boolean">
		SELECT
			CASE WHEN COUNT(*)>0 THEN true ELSE false END
		FROM
			common.account
		<where>
			<if test="accountNo != null"> AND account_no &lt;&gt; #{accountNo}</if>
			<if test="accountId != null"> AND account_id = #{accountId}</if>
		</where>
	</select>
</mapper>