<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.gallary.mapper.PhotoFavoriteMapper">
	<insert id="insert" parameterType="com.web.gallary.entity.PhotoFavorite">
		INSERT INTO
			photo.photo_favorite (
				account_no,
				favorite_photo_account_no,
				favorite_photo_no,
				created_by,
				created_at
			)
		VALUES
			(
				#{accountNo},
				#{favoritePhotoAccountNo},
				#{favoritePhotoNo},
				#{createdBy},
				NOW()
			)
	</insert>
	
	<delete id="delete" parameterType="com.web.gallary.entity.PhotoFavorite">
		DELETE FROM
			photo.photo_favorite
		<where>
			<if test="accountNo != null"> AND account_no = #{accountNo}</if>
			<if test="favoritePhotoAccountNo != null"> AND favorite_photo_account_no = #{favoritePhotoAccountNo}</if>
			<if test="favoritePhotoNo != null"> AND favorite_photo_no = #{favoritePhotoNo}</if>
		</where>
	</delete>
</mapper>