<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.web.gallery.infrastructure.persistence.mapper.account.LoginHistoryMapper">

	<insert id="insert" parameterType="com.web.gallery.infrastructure.persistence.entity.account.LoginHistory">
		INSERT INTO common.login_history (
			account_no,
			ip_address,
			country,
			region,
			created_by,
			created_at
		) VALUES (
			#{accountNo},
			#{ipAddress},
			COALESCE(#{country}, ''),
			COALESCE(#{region}, ''),
			#{createdBy},
			COALESCE(#{createdAt}, NOW())
		)
	</insert>

	<delete id="delete" parameterType="com.web.gallery.infrastructure.persistence.entity.account.LoginHistoryCondition">
		DELETE FROM
			common.login_history
		<where>
			<!-- 条件が1つも指定されていない場合にWHERE句なしのDELETE（全件削除）になるのを防ぐガード。
			     抽出条件はファクトリメソッド経由での生成を前提としているが、builder()から直接組み立てられた
			     場合でも1件も消さないようにする -->
			<if test="accountNo == null"> AND 1 = 0</if>
			<if test="accountNo != null"> AND account_no = #{accountNo}</if>
		</where>
	</delete>

</mapper>
