<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<title>けんと公式ページ - アカウント一覧 -</title>
		
	<link th:href="@{/css/common.css}" rel="stylesheet" />
	<link th:href="@{/css/footer.css}" rel="stylesheet" />
	<link th:href="@{/css/menu.css}" rel="stylesheet" />
	<link th:href="@{/css/account_list.css}" rel="stylesheet" />
	
	<script th:src="@{/js/menu.js}" charset="UTF-8"></script>
</head>

<body>
	<header>
		<input id="csrf_token" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	
		<div id="toggle" class="button_container" onclick="clickMenu(this)">
			<span class="top"></span>
			<span class="middle"></span>
			<span class="bottom"></span>
		</div>
			
		<div id="overlay" class="overlay" >
			<nav class="overlay-menu">
				<ul sec:authorize="isAnonymous()">
					<li><a th:href="@{/login}">Sign In</a></li>
				</ul>
				<ul sec:authorize="hasRole('USER')">
					<li><a th:href="${my_photo_list_url}">My Gallary</a></li>
					<li><a th:href="@{/logout}">Sign Out</a></li>
				</ul>
				<ul sec:authorize="hasRole('ADMIN')">
					<li><a th:href="${my_photo_list_url}">My Gallary</a></li>
					<li><a th:href="@{/logout}">Sign Out</a></li>
				</ul>
			</nav>
		</div>
	</header>
	
	<div id="accounts">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>アカウント名</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="account : ${AccountList}" th:object="${account}" class="align-middle">
					<td th:text="*{accountId}"></td>
					<td th:text="*{accountName}"></td>
					<td><a th:href="'/photo/' + *{accountId} + '/photo_list'" class="btn btn-secondary">ギャラリー</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>