<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<title>けんと公式ページ - エラー -</title>
	
	<link th:href="@{/css/header.css}" rel="stylesheet" />
	<link th:href="@{/css/footer.css}" rel="stylesheet" />
	<link th:href="@{/css/error_page.css}" rel="stylesheet" />
</head>

<body>
	<header>
		<a id="back_page" th:href="${goBackPageUrl}">← back</a>
		<input id="csrf_token" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	</header>
	
	<div id="error_contents">
		<div>
			<span th:text="${errorMessage}"></span>
		</div>
		<div>
			<label>Status:</label>
			<span th:text="${httpStatus}"></span>
		</div>
		<div>
			<label>Error Code:</label>
			<span th:text="${errorCode}"></span>
		</div>
	</div>
	
	<object id="footer" th:data="@{/footer}" type="text/html"></object>
</body>

</html>