<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン</title>

	<link th:href="@{/css/common.css}" rel="stylesheet" />
	<link th:href="@{/css/login.css}" rel="stylesheet" />
	<link th:href="@{/css/footer.css}" rel="stylesheet" />
</head>

<body>
	<div class="wrapper">
		<form class="login" th:action="@{/login}" method="post">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<p class="title">Log in</p>
			<input type="text" name="username" placeholder="User ID" tabindex="1" autofocus/>
			<i class="fa fa-user"></i>
			<input type="password" name="password" placeholder="Password" tabindex="2"/>
			<i class="fa fa-key" style="content: '\f084'">️</i>
			<div th:if="${param.error}">
				<p class="miss">アカウントIDまたはパスワードが間違っています。</p>
			</div>
			<a th:href="@{/contact}">Forgot your password?</a><br>
			<a th:href="@{/register}">Create an account</a>
			
			<button tabindex="3">
				<i class="spinner"></i>
				<span class="state">Log in</span>
			</button>
		</form>
	</div>

	<object id="footer" th:data="@{/footer}" type="text/html"></object>
</body>

</html>