<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<title>けんと公式ページ - 写真詳細 -</title>
	
	<link th:href="@{/css/common.css}" rel="stylesheet" />
	<link th:href="@{/css/header.css}" rel="stylesheet" />
	<link th:href="@{/css/menu.css}" rel="stylesheet" />
	<link th:href="@{/css/footer.css}" rel="stylesheet" />
	<link th:href="@{/css/photo_detail.css}" rel="stylesheet" />
	
	<script th:src="@{/js/menu.js}" charset="UTF-8"></script>
	<script th:src="@{/js/photo_detail.js}" charset="UTF-8"></script>
	<script th:src="@{/js/photo_favorite.js}" type="module" charset="UTF-8"></script>
</head>

<body>
	<header>
		<a id="back_page" th:href="${photo_list_url}">← back</a>
		<form id="photo_list" th:action="${my_photo_list_url}" method="get"></form>
		
		<div id="toggle" class="button_container" onclick="clickMenu(this)">
			<span class="top"></span>
			<span class="middle"></span>
			<span class="bottom"></span>
		</div>
		
		<div class="overlay" id="overlay">
			<nav class="overlay-menu">
				<ul sec:authorize="isAnonymous()">
					<li><a th:href="${account_list_url}">Photographers</a></li>
					<li><a th:href="@{/login}">Sign In</a></li>
				</ul>
				<ul sec:authorize="hasRole('USER')">
					<li><a th:href="${my_photo_list_url}">My Gallary</a></li>
					<li><a th:href="${account_list_url}">Photographers</a></li>
					<li><a th:href="${account_setting_url}">Account Setting</a></li>
					<li><a th:href="@{/logout}">Sign Out</a></li>
				</ul>
				<ul sec:authorize="hasRole('ADMIN')">
					<li><a th:href="${my_photo_list_url}">My Gallary</a></li>
					<li><a th:href="${account_list_url}">Photographers</a></li>
					<li><a th:href="${account_setting_url}">Account Setting</a></li>
					<li><a th:href="@{/logout}">Sign Out</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<div id="photo_detail_header">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
		<img class="edit" th:src="@{/image/edit.png}"  th:style="${isOwner ? 'display:block' : 'display:none'}" onclick="editPhoto()" />
		<img class="delete" th:src="@{/image/trash.png}" th:style="${isOwner ? 'display:block' : 'display:none'}" onclick="deletePhoto(this)" />
		<input id="photo_delete_url" type="hidden" th:value="${photo_delete_url}" />
		<img class="favorite" th:src="@{/image/heart_on.png}" sec:authorize="isAuthenticated()" onclick="cancelFavorite()" 
			th:style="${PhotoSettingRequest.isFavorite ? 'display:block' : 'display:none'}" />
		<img class="notFavorite" th:src="@{/image/heart_off.png}" sec:authorize="isAuthenticated()" onclick="addFavorite()"
			th:style="${PhotoSettingRequest.isFavorite ? 'display:none' : 'display:block'}"/>
	</div>
	
	<div class="photo">
		<form class="photo_setting" th:action="${photo_setting_url}" th:object="${PhotoSettingRequest}" th:method="get">
			<input type="hidden" class="accountNo" name="accountNo" th:value="*{accountNo}" />
			<input type="hidden" class="photoNo" name="photoNo" th:value="*{photoNo}" />
			
			<div class="image">
				<img th:src="*{imageFilePath}" name="imageFilePath"/>
				<input type="hidden" name="imageFilePath" th:value="*{imageFilePath}" />
				<input type="hidden" name="directionKbn" th:value="*{directionKbn}" />
			</div>
			<div class="detail">
				<p class="japanese_title" th:text="*{photoJapaneseTitle}"></p>
				<input type="hidden" name="photoJapaneseTitle" th:value="*{photoJapaneseTitle}" />
				<p class="english_title" th:text="*{photoEnglishTitle}"></p>
				<input type="hidden" name="photoEnglishTitle" th:value="*{photoEnglishTitle}" />
				
				<p class="caption" th:text="*{caption}"></p>
				<input type="hidden" name="caption" th:value="*{caption}" />
				
				<p class="photo_at" th:text="*{photoAt != null ? #temporals.format(photoAt, 'yyyy-MM-dd HH:mm') : ''} + ' ' + *{locationName}"></p>
				<input type="hidden" name="photoAt" th:value="*{photoAt}" />
				<input type="hidden" name="locationNo" th:value="*{locationNo}" />
				<input type="hidden" name="address" th:value="*{address}" />
				<input type="hidden" name="latitude" th:value="*{latitude}" />
				<input type="hidden" name="longitude" th:value="*{longitude}" />
				<input type="hidden" name="locationName" th:value="*{locationName}" />
				
				<p class="setting"></p>
				<input type="hidden" name="focalLength" th:value="*{focalLength}" />
				<input type="hidden" name="fValue" th:value="*{fValue}" />
				<input type="hidden" name="shutterSpeed" th:value="*{shutterSpeed}" />
				<input type="hidden" name="iso" th:value="*{iso}" />
				
				<div class="tags" th:each="photoTagModel,stat : *{photoTagModelList}">
					<input type="hidden" th:name="photoTagRequestList[__${stat.index}__].accountNo"
						th:value="*{photoTagModelList[__${stat.index}__].accountNo}" />
					<input type="hidden" th:name="photoTagRequestList[__${stat.index}__].photoNo"
						th:value="*{photoTagModelList[__${stat.index}__].photoNo}" />
					<input type="hidden" th:name="photoTagRequestList[__${stat.index}__].tagNo"
						th:value="*{photoTagModelList[__${stat.index}__].tagNo}" />
					<input type="hidden" th:name="photoTagRequestList[__${stat.index}__].tagJapaneseName"
						th:value="*{photoTagModelList[__${stat.index}__].tagJapaneseName}" />
					<input type="hidden" th:name="photoTagRequestList[__${stat.index}__].tagEnglishName"
						th:value="*{photoTagModelList[__${stat.index}__].tagEnglishName}" />
				</div>
			</div>
		</form>
	</div>
	
	<div class="modal js-modal">
		<div class="modal-container">
			<div class="modal-close js-modal-close" onclick="modalClose()">×</div>
			<div class="modal-content">
				<p>写真を削除しました</p>
			</div>
		</div>
	</div>
	
	<form id="error" th:action="@{/error_page}" method="get">
		<input type="hidden" id="http_status" name="httpStatus">
		<input type="hidden" id="error_code" name="errorCode">
		<input type="hidden" id="error_message" name="errorMessage">
		<input type="hidden" id="go_back_page_url" name="goBackPageUrl">
	</form>

	<object id="footer" th:data="@{/footer}" type="text/html"></object>
</body>

</html>