<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<title>けんと公式ページ - 写真登録・編集 -</title>
	
	<link th:href="@{/css/common.css}" rel="stylesheet" />
	<link th:href="@{/css/header.css}" rel="stylesheet" />
	<link th:href="@{/css/menu.css}" rel="stylesheet" />
	<link th:href="@{/css/footer.css}" rel="stylesheet" />
	<link th:href="@{/css/photo_setting.css}" rel="stylesheet" />
	
	<script th:src="@{/js/menu.js}" charset="UTF-8"></script>
	<script th:src="@{/js/photo_setting.js}" charset="UTF-8"></script>
</head>

<body>
	<header>
		<a id="back_page" th:href="${my_photo_list_url}">← back</a>
		<form id="photo_list" th:action="${my_photo_list_url}" method="get"></form>
		
		<div id="toggle" class="button_container" onclick="clickMenu(this)">
			<span class="top"></span>
			<span class="middle"></span>
			<span class="bottom"></span>
		</div>
		
		<div class="overlay" id="overlay">
			<nav class="overlay-menu">
				<ul sec:authorize="hasRole('USER')">
					<li><a th:href="@{/logout}">Sign Out</a></li>
				</ul>
				<ul sec:authorize="hasRole('ADMIN')">
					<li><a th:href="@{/logout}">Sign Out</a></li>
				</ul>
			</nav>
		</div>
		
		<input type="hidden" id="is_add_mode" name="isAddMode" th:value="${isAddMode}" />
	</header>

	<div class="photos">
		<form class="photo" th:action="${photo_save_url}" th:object="${PhotoSettingRequest}" th:method="post"
			enctype="multipart/form-data">
			<p class="title">Upload Photo</p>
			
			<input type="hidden" class="accountNo" name="accountNo" th:value="*{accountNo}" />
			<input type="hidden" class="photoNo" name="photoNo" th:value="*{photoNo}" />

			<img id="preview" th:src="*{imageFilePath}" name="imageFilePath" width="100%"/>
			<input type="file" id="image_file" name="imageFile" accept="image/png, image/jpeg" th:value="${imageFile}" onchange="previewFile()" />
			<input type="hidden" name="imageFilePath" th:value="*{imageFilePath}"/>
			<input type="hidden" id="direction_kbn_code" name="directionKbn" th:value="*{directionKbn}"/>
			<input type="hidden" id="max_file_size_mb" name="maxFileSizeMb" th:value="${maxFileSizeMb}"/>
			<p class="image_file_error"></p>
			
			<label>タイトル</label>
			<input type="text" name="photoJapaneseTitle" placeholder="日本語" th:value="*{photoJapaneseTitle}" onblur="blurJapaneseTitle(this)"/>
			<input type="text" name="photoEnglishTitle" placeholder="英語" th:value="*{photoEnglishTitle}" />
			<p class="photoTitle_error"></p>

			<label>撮影日時</label>
			<input type="datetime-local" name="photoAt" th:value="*{#temporals.format(photoAt, 'yyyy-MM-dd HH:mm')}" 
				onchange="changePhotoAt(this)"/>
			<p class="photoAt_error"></p>
			
			<label>焦点距離</label>
			<input type="number" name="focalLength" min=0 th:value="*{focalLength}" onblur="blurFocalLength(this)"/>
			<p class="focalLength_error"></p>
			
			<label>F値</label>
			<input type="number" name="fValue" min=0 step="0.1" th:value="*{fValue}" onblur="blurFValue(this)"/>
			<p class="fValue_error"></p>
			
			<label>シャッタースピード</label>
			<input type="number" min=0 step="0.00001" name="shutterSpeed" th:value="*{shutterSpeed}" onblur="blurShutterSpeed(this)"/>
			<p class="shutterSpeed_error"></p>
			
			<label>ISO</label>
			<input type="number" name="iso" min=0 th:value="*{iso}" onblur="blurISO(this)"/>
			<p class="iso_error"></p>
			
			<label>キャプション</label>
			<textarea name="caption" rows="5" cols="50" th:text="*{caption}"></textarea>
			<p class="caption_error"></p>
			
			<label>タグ:</label>
			<input type="hidden" class="maxTagNo" name="maxTagNo" th:value="${maxTagNo}"/>
			<div class="tags">
				<div class="tag" th:each="photoTagRequest,stat : *{photoTagRequestList}">
					<label class="delete_tag" onclick="deleteTag(this)">× 削除</label>
					<input type="hidden" class="tag_account_no" th:name="photoTagSaveRequestList[__${stat.index}__].accountNo"
						th:value="*{photoTagRequestList[__${stat.index}__].accountNo}" />
					<input type="hidden" class="tag_photo_no" th:name="photoTagSaveRequestList[__${stat.index}__].photoNo"
						th:value="*{photoTagRequestList[__${stat.index}__].photoNo}" />
					<input type="hidden" class="tag_no" th:name="photoTagSaveRequestList[__${stat.index}__].tagNo"
						th:value="*{photoTagRequestList[__${stat.index}__].tagNo}" />
					<input type="text" class="tag_japanese" th:name="photoTagSaveRequestList[__${stat.index}__].tagJapaneseName"
						th:value="*{photoTagRequestList[__${stat.index}__].tagJapaneseName}" placeholder="日本語" onblur="blurTag()"/>
					<input type="text" class="tag_english" th:name="photoTagSaveRequestList[__${stat.index}__].tagEnglishName"
						th:value="*{photoTagRequestList[__${stat.index}__].tagEnglishName}" placeholder="英語" />
					<p class="tag_error"></p>
				</div>
				<label id="add_tag" onclick="addTag(this)">＋タグを追加</label>
			</div>
		</form>
		<button id="regist" onclick="regist(this)">
			<i class="spinner"></i>
			<span class="state">登録</span>
		</button>
	</div>
	
	<div class="modal js-modal">
		<div class="modal-container">
			<div class="modal-close js-modal-close" onclick="modalClose()">×</div>
			<div class="modal-content">
				<p>写真を登録しました</p>
			</div>
		</div>
	</div>
	
	<form id="error" th:action="@{/error_page}" method="get">
		<input type="hidden" id="http_status" name="httpStatus">
		<input type="hidden" id="error_code" name="errorCode">
		<input type="hidden" id="error_message" name="errorMessage">
		<input type="hidden" id="go_back_page_url" name="goBackPageUrl">
	</form>

	<object id="footer" th:data="@{/footer}" type="text/html"></object>
</body>

</html>